* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  /* padding: 0; */
}
.btn-primary {
  background-color: orangered;
  color: white;
  padding: 16px 25px;
  border: none;
  border-radius: 10px;
  margin: 20px 0px;
  cursor: pointer;
}
.paragraph {
  font-size: 18px;
  margin: 10px 0;
}

/* header styles */
header {
  background-color: #fff4e7;
  padding: 50px 200px;
  margin-bottom: 70px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 25px;
  font-weight: bold;
}

.nav-title {
  font-size: 2rem;
  font-weight: bold;
}

nav li a {
  text-decoration: none;
}
/* Banner Styles */
.banner-content {
  max-width: 800px;
  margin: auto;
  text-align: center;
}
.banner-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.banner img {
  width: 100%;
}

.image-container {
  margin-top: 40px;
}
/* main section styles */
.main {
  max-width: 1440px;
  margin: auto;
}

/* Teams related styles */
.teams-section {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 70px;
}

.teams-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.team-title {
  font-size: 4rem;
}
.teams-content {
  margin-left: 50px;
}
.team-title .quick-list {
  color: #727272;
  font-weight: 500;
}
.team-title .text-features {
  color: #ff900e;
  font-weight: 700;
}

/* Facts Styles */
.facts {
  padding: 30px;
  margin-bottom: 70px;
}

.facts-card-container .card {
  border: 2px solid #ff900e;
  border-radius: 10px;
  text-align: center;
  padding: 40px 40px;
}

.facts-card-container .card-stats {
  font-size: 1.8rem;
  font-weight: bold;
}

.facts-card-container .card-title {
  font-weight: 600;
}

.facts-card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

/* Sponsors Styles */
.sponsors {
  padding: 20px;
  margin-bottom: 60px;
}
.sponsors-heading {
  text-align: center;
  padding-bottom: 30px;
}

.sponsors-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.sponsors-container img {
  width: 160px;
}

/* Features Section Styles */
.features {
  padding-top: 30px;
  display: flex;
  gap: 20px;
  margin-bottom: 60px;
}
.features-content .card {
  border: 2px solid #ff900e;
  border-radius: 10px;
  padding: 30px 40px;
  margin-bottom: 40px;
}

.features .border-left {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.features-img img {
  height: 90%;
  margin-left: 90px;
}

.ten-years-badge {
  border-radius: 8px;
  background-color: #ff900e;
  color: whitesmoke;
  width: 342px;
  padding: 40px;
  text-align: center;
  position: relative;
  bottom: 100px;
}

.ten-years-badge h2 {
  font-size: 4rem;
  margin: 0;
}

/* Responsive Styles */
@media screen and (max-width: 576px) {
  header {
    padding: 30px;
  }
  nav {
    flex-direction: column;
  }
  .teams-section {
    flex-direction: column-reverse;
    padding: 20px;
  }
  .teams-image {
    grid-template-columns: repeat(1, 1fr);
  }
  .facts-card-container {
    flex-direction: column;
  }
  .facts-card-container .card {
    margin: 10px 0;
  }
  .sponsors-container {
    flex-direction: column;
    gap: 10px;
  }
  .features {
    flex-direction: column;
    padding: 20px;
  }
  .features-img img {
    width: 100%;
    margin-left: 0;
  }

  .ten-years-badge {
    position: static;
    width: 200px;
  }
}

/* Medium Device */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 20px;
  }
  nav,
  .features {
    flex-direction: column;
  }

  .teams-section {
    flex-direction: column-reverse;
    padding: 20px;
  }
  .teams-image {
    grid-template-columns: repeat(2, 1fr);
  }
  .sponsors-container {
    flex-direction: column;
    padding: 20px;
  }
  .features-img img {
    width: 100%;
    margin-left: 0;
  }
}
