* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  /* padding: 0; */
}
.btn-primary {
  background-color: orangered;
  color: white;
  padding: 16px 25px;
  border: none;
  border-radius: 10px;
  margin: 20px 0px;
  cursor: pointer;
}

/* header styles */
header {
  background-color: #fff4e7;
  padding: 50px 200px;
  margin-bottom: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 25px;
  font-weight: bold;
}

.nav-title {
  font-size: 1.5rem;
  font-weight: bold;
}

nav li a {
  text-decoration: none;
}
/* Banner Styles */
.banner-content {
  max-width: 800px;
  margin: auto;
  text-align: center;
}
.banner-title {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 10px;
}

.banner img {
  width: 100%;
}

.image-container {
  margin-top: 40px;
}

/* Responsive Styles */
@media screen and (max-width: 576px) {
  header {
    padding: 30px;
  }
  nav {
    flex-direction: column;
  }
}

/* Medium Device */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav {
    flex-direction: column;
  }
}
